{% extends 'base.html.twig' %}
{% from 'macros/title.macro.twig' import title, subtitle %}

{% block title %}Hello World!{% endblock %}

{% block body %}

<div class="example-wrapper">

    {% set title = "Hello " ~ controller_name ~ "! ✅" %}

    {{ title(title|custom_capitalize) }}
    {{ subtitle("Sous-titre") }}

    <img src="{{ asset('images/picture.webp') }}">

    <twig:BootstrapButton text="Cliquez ici" type="success" />
    <twig:BootstrapButton text="Bouton" isOutlined />

</div>
{% endblock %}
